<div class="info">
  <p>Identifier: <%= content_tag :span, snap.id%></p>
  <p>Name: <%= content_tag :span, snap.name%></p>
  <p>Phone: <%= content_tag :span, snap.phone%></p>
  <p>Address: <%= content_tag :span, snap.address%></p>
  <p>Now: <%= link_to 'Suppliler', supplier_url(snap.supplier_id), class: :mark%></p>
</div>
