<div class="info">
  <p>Идентификатор: <%= content_tag :span, snap.identifier%></p>
  <p>Имя: <%= content_tag :span, snap.name%></p>
  <p>Фамилия: <%= content_tag :span, snap.lastname%></p>
  <p class="separate-span">Права:
    <% snap.rights.each do |right| %>
      <%= content_tag :span, right %>
    <% end %>
  </p>
  <p>Активный: <%= content_tag :span, snap.active%></p>
  <p>Сейчас: <%= link_to 'User', user_path(snap.user_id), class: :mark%></p>
</div>
