<div class="info">
  <p>Identifier: <%= content_tag :span, snap.identifier%></p>
  <p>Name: <%= content_tag :span, snap.name%></p>
  <p>Lastname: <%= content_tag :span, snap.lastname%></p>
  <p class="separate-span">Rights:
    <% snap.rights.each do |right| %>
      <%= content_tag :span, right %>
    <% end %>
  </p>
  <p>Active: <%= content_tag :span, snap.active%></p>
  <p>Now: <%= link_to 'User', user_path(snap.user_id), class: :mark%></p>
</div>
