<h3 class="page-name">Login</h3>
<%= form_for 'session', url: login_path do |f| %>
<div class="form-field">
  <%= f.label :identifier, class: :mark %>
  <%= f.text_field :identifier %>
</div>
<div class="form-field">
  <%= f.label :password, class: :mark %>
  <%= f.password_field :password %>
</div>
<%= f.submit 'Login' %>

<% end %>
