<ul class="event_info">
  <li><%= content_tag :span, "Product updated (#{event.product_change_event.head_event.id})"%></li>
  <li><%= link_to event.snap_from.now.name, product_path(event.snap_from.product_id), class: :mark %></li>
  <li><%= content_tag :span, to_local_time(event.created_at)%></li>
  <li><%= link_to event.editor.identifier, user_path(event.editor.id), class: :mark %></li>
  <li><%= link_to 'Details', event_details_path(id: event.product_change_event.head_event.id), class: :btn2, target: :_blank  %></li>
</ul>
