<article>
  <div class="event_info"
    <%= content_tag :span, 'Refund'%>
    <%= content_tag :span, event.sum %>
    <%= content_tag :span, to_local_time(event.created_at)%>
    <%= link_to event.editor.identifier, user_path(event.editor.id) %>
    <%= content_tag :button, 'Details'%>
  </div>
  <div class="event_details">
    <table>
      <% event.refund_events.each do |e| %>
        <tr>
          <td><%= link_to 'Product now', product_path(e.product.id) %></td>
          <td><%= e.product_snap.code %></td>
          <td><%= e.product_snap.price_in %></td>
          <td><%= e.amount %></td>
          <td><%= e.sum %></td>
        </tr>
      <% end %>
    </table>
  </div>
</article>
