<h3 class="page-name">Списание товара</h3>
<%= form_for 'write_off', url: write_off_path do |f| %>
  <% @warehouses.each do |warehouse| %>
    <div class="form-field list-3">
      <%= f.label warehouse.product.code, class: :mark %>
      <%= f.text_field warehouse.product.id, value: 0 %>
      <%= content_tag :span, "#{warehouse.product.unit} из" %>
      <%= content_tag :span, warehouse.amount, class: :mark %>
    </div>
  <% end %>
  <%= f.submit "Готово" %>
<% end %>
