<div>
  <%= f.label :identifier %>
  <%= f.text_field :identifier %>
</div>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :lastname %>
  <%= f.text_field :lastname %>
</div>
<%= f.submit %>
