<div class="form-field">
  <%= f.label :password, class: :mark %>
  <%= f.password_field :password %>
</div>
<div class="form-field">
  <%= f.label :password_confirmation, class: :mark %>
  <%= f.password_field :password_confirmation %>
</div>
<%= f.submit %>
