<div class="form-field">
  <%= f.label :identifier, class: :mark %>
  <%= f.text_field :identifier %>
</div>
<div class="form-field">
  <%= f.label :name, class: :mark %>
  <%= f.text_field :name %>
</div>
<div class="form-field">
  <%= f.label :lastname, class: :mark %>
  <%= f.text_field :lastname %>
</div>
<%= f.submit %>
