<div class="form-field">
  <%= f.label :password, 'Пароль', class: :mark %>
  <%= f.password_field :password %>
</div>
<div class="form-field">
  <%= f.label :password_confirmation, 'Подтверждение пароля', class: :mark %>
  <%= f.password_field :password_confirmation %>
</div>
<%= f.submit, 'Готово' %>
