<div class="form-field">
  <%= f.label :identifier, 'Идентификатор', class: :mark %>
  <%= f.text_field :identifier %>
</div>
<div class="form-field">
  <%= f.label :name, 'Имя', class: :mark %>
  <%= f.text_field :name %>
</div>
<div class="form-field">
  <%= f.label :lastname, 'Фамилия', class: :mark %>
  <%= f.text_field :lastname %>
</div>
<%= f.submit 'Готово' %>
