<h3>Inactive users</h3>
<% if @users && @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.id %>
        <%= user.identifier %>
        <%= user.role %>
        <%= user.active %>
        <%= user.last_seen %>
      </li>
    <% end %>
  </ul>
<% end %>
