<header class="main-header">
  <nav class="main-nav">
    <% if logged_in? %>
      <ul class="actions" >
        <li class="nav-item"><%= link_to 'пользователи', users_path %></li>
        <li class="nav-item"><%= link_to 'поставщики', suppliers_path %></li>
        <li class="nav-item"><%= link_to 'продукты', products_path %> </li>
        <li class="nav-item"><%= link_to 'склад', warehouse_path %></li>
        <li class="nav-item"><%= link_to 'поступление', arrival_path %></li>
        <li class="nav-item"><%= link_to 'реализация', realization_path %></li>
        <li class="nav-item"><%= link_to 'возврат', refund_path %></li>
        <li class="nav-item"><%= link_to 'списание', write_off_path %></li>
        <li class="nav-item"><%= link_to 'приглашения', invites_path %></li>
        <li class="nav-item"><%= link_to 'события', events_path %></li>
        <li class="nav-item"><%= link_to 'права', rights_path %></li>
      </ul>
      <ul class="log right" >
        <li class="nav-item"><%= link_to 'Выйти', logout_path, method: :delete %></li>
        <li class="nav-item"><%= link_to 'Мой аккаунт', user_path(current_user) %></li>
      </ul>
    <% else %>
      <ul class="log" >
        <li class="nav-item"><%= link_to 'Войти', login_path %></li>
        <li class="nav-item"><%= link_to 'Регистрация', signup_path %></li>
      </ul>
    <% end %>
  </nav>
</header>
