<div class="form-field">
  <%= f.label :name, 'Имя', class: :mark %>
  <%= f.text_field :name %>
</div>
<div class="form-field">
  <%= f.label :phone, 'Телефон', class: :mark %>
  <%= f.text_field :phone %>
</div>
<div class="form-field">
  <%= f.label :address, 'Адрес', class: :mark %>
  <%= f.text_field :address %>
</div>
<%= f.submit 'Готово' %>
